body {
  margin-top: 1em;
  margin-left: 3em;
}

p, table, label, h1, h2, h3, h4, a {
  font-family:Georgia;
  color:#2E2E2E;
  line-height:1.5em;
  text-align: justify;
}

h1, h2, h3, h4 {
  margin-top: 1.5em;
  color: #444;
}

h2 {
  margin-top: 2em;
}

tt {
  border: 1px #999999 solid;
  padding-left:1px;
  padding-right:1px;
  background-color: rgba(0,0,0,0.05);
}

li {
  font-family:Georgia;
  color:#2E2E2E;
}

div.two-up {
  display: inline-block;
  width: 100%;
}

div.two-left {
  width:50%;
  float:left;
}

div.two-right{
  width:50%;
  display: inline-block;
}